/target/
/.settings/
/.project
/.classpath
/republish.sh
/emiserv-boot/src/main/resources/emiserv.properties
.idea/
*.iml
/emiserv-api-interna/target/
/emiserv-client-intf/target/
/emiserv-client-jersey1/target/
/emiserv-client-jersey2/target/
/emiserv-client-jersey3/target/
/docker-compose.yml
