<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	 xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
			http://www.springframework.org/schema/util
			http://www.springframework.org/schema/util/spring-util-3.0.xsd
			http://www.springframework.org/schema/jee 
			http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

	<!-- Este fichero contiene la configuracion de Spring de las librerias    -->
	<!-- SCSP V3. Evite realizar modificaciones en este fichero ya que la     -->
	<!-- configuracion se debera realizar a traves de base de datos.          -->
	
	<context:annotation-config />
	
	<context:component-scan base-package="es.scsp" />

 
	<bean id="configuracionBackOfficeDao" class="es.scsp.common.dao.EmisorBackOfficeDao"	/>
	<bean id="gestorSeguridad" class="es.scsp.common.core.LoginManager"	/>
	 
	<!-- ==================================================================== -->
	<!-- Clases que implementan los servicios sincronos y asincronos          -->
	<!-- ==================================================================== -->
	<bean id="serviceAsync" class="es.scsp.services.impl.ServiceAsyncImpl">
		<constructor-arg index="0" ref="configuracionBackOfficeDao" />
		<constructor-arg index="1" ref="marshaller" />
		<constructor-arg index="2" ref="unmarshaller" />
		<constructor-arg index="3" ref="bindingConfiguration" />
		<constructor-arg index="4" ref="idTransmisionGenerator" />
		<constructor-arg index="5" ref="serviceManager" />
	</bean>
	<bean id="serviceSync" class="es.scsp.services.impl.ServiceSyncImpl">
		<constructor-arg index="0" ref="configuracionBackOfficeDao" />
		<constructor-arg index="1" ref="marshaller" />
		<constructor-arg index="2" ref="unmarshaller" />
		<constructor-arg index="3" ref="bindingConfiguration" />
		<constructor-arg index="4" ref="idTransmisionGenerator" />
		<constructor-arg index="5" ref="serviceManager" />
	</bean>

	<bean id="applicationContex" class="org.apache.axis2.extensions.spring.receivers.ApplicationContextHolder" />

	<!-- ==================================================================== -->
	<!-- Gestores de configuracion                                            -->
	<!-- ==================================================================== -->
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties">
			<bean class="es.caib.emiserv.api.interna.scsp.EmiservPropertiesFactoryBean" />
		</property>
		<property name="placeholderPrefix" value="${config:" />
	</bean>
	<bean id="scspPropertyPlaceholderConfigurer" class="es.scsp.common.utils.ScspPropertyPlaceholderConfigurer" depends-on="sessionFactory">
		<constructor-arg index="0" ref="sessionFactory" />
		<property name="ignoreResourceNotFound" value="true"/>
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
	</bean>

	<!-- ==================================================================== -->
	<!-- Configuracion de binding.                                            -->
	<!-- ==================================================================== -->
	<alias name="jibxMarshaller" alias="marshaller" />
	<alias name="jibxMarshaller" alias="unmarshaller" />

	<!-- ==================================================================== -->
	<!-- Configuracion de acceso base de datos.                               -->
	<!-- ==================================================================== -->
	<bean id="sessionFactory" class="es.scsp.common.core.SessionFactoryManager" depends-on="propertyPlaceholderConfigurer">
		<property name="dataSource">
			<bean class="org.springframework.jndi.JndiObjectFactoryBean">
				<property name="resourceRef" value="true" />
				<property name="jndiName" value="java:jboss/datasources/emiservDS" />
			</bean>
		</property>
		<property name="packagesToScan" value="es.scsp.common.domain.core.**,es.scsp.common.domain.emi.**" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=${config:spring.jpa.properties.hibernate.dialect}
				hibernate.hbm2ddl.auto=none
				hibernate.show_sql=false
				hibernate.transaction.factory_class=org.hibernate.transaction.JDBCTransactionFactory
				hibernate.current_session_context_class=thread
				hibernate.dbcp.enabled=false
				hibernate.dbcp.initialSize=10
				hibernate.dbcp.maxActive=50
				hibernate.dbcp.minIdle=15
				hibernate.dbcp.maxIdle=50
				hibernate.dbcp.maxWait=5000
				hibernate.c3p0.idle_test_period=300
				hibernate.c3p0.timeout=500
				hibernate.c3p0.max_size=25
				hibernate.c3p0.min_size=3
				hibernate.c3p0.validate.in=true
				hibernate.c3p0.validate.out=true
      		</value>
		</property>
	</bean>

	<!-- ==================================================================== -->
	<!-- Recursos adicionales.                                                -->
	<!-- ==================================================================== -->
	<bean id="dateFormater" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd'T'HH:mm:ss.SSSZ" />
	</bean>

	<!-- ==================================================================== -->
	<!-- Cliente Spring de Afirma                                             -->
	<!-- ==================================================================== -->
	<bean id="messageFactory" class="org.springframework.ws.soap.axiom.AxiomSoapMessageFactory" />
	<bean id="afirmaWssHandler" class="org.springframework.ws.soap.security.wss4j.Wss4jSecurityInterceptor">
		<property name="securementActions" value="Signature" />
		<property name="securementSignatureKeyIdentifier" value="DirectReference" />
		<property name="securementMustUnderstand" value="false" />
		<property name="securementSignatureCrypto">
			<bean class="org.springframework.ws.soap.security.wss4j.support.CryptoFactoryBean">
				<property name="keyStorePassword" value="${config:keystorePass}" />
				<property name="keyStoreLocation" value="${config:keystoreFile}" />
			</bean>
		</property>
	</bean>
 	<bean id="proxyManager" class="es.scsp.common.utils.ProxyManager">
			<property name="host"  value="${config:proxy.host}" />
			<property name="port"  value="${config:proxy.port}" />
			<property name="user"  value="${config:proxy.user}" />
			<property name="password"  value="${config:proxy.password}" />
			<property name="domain"  value="${config:proxy.domain}" />
			<property name="nonHostsProxy"  value="${config:proxy.non.proxy.hosts}" />
	</bean>
</beans>